# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
django=2.2.5=py37_1
pillow=6.2.1=py37hb68e598_0
psycopg2=2.8.4=py37ha12b0ac_0
pytz=2019.3=py_0
